---
import Imagen from "@components/layout/Imagen.astro";
import { type CollectionEntry, getEntryBySlug } from "astro:content";
type Props = {
  projects: CollectionEntry<"projects">[];
};
const { projects } = Astro.props;
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  {
    projects.map((project) => {
      const route = `/Portafolio/projects/${project.slug}`;
      return (
        <>
          <a
            href={route}
            class="rounded-lg border shadow-md bg-slate-800/50 border-slate-700/50 hover:scale-105 hover:bg-slate-800 hover:border-slate-500 transition flex flex-col"
          >
            <picture class="flex justify-center p-4">
              <Imagen
                ImgClass="rounded-lg  w-[300px] h-[200px] object-cover transition-all duration-200"
                transition:name="img"
                transition:persist
                img={project.data.cover}
                alt={project.data.coverAlt}
              />
            </picture>

            <div class="p-4 flex-grow mx-auto text-center">
              <h2 class=" text-xl font-bold tracking-tight text-white">
                {project.data.title}
              </h2>
            </div>
          </a>
        </>
      );
    })
  }
</div>
