---
import { getI18N } from "@i18n/index";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { subTitle, body, employment, Content } = i18n.About;
---

<div class="lg:col-span-2 flex flex-col gap-12">
  <div>
    <h2 class="text-2xl font-bold tracking-tight text-slate-200">{subTitle}</h2>
    <p class="mt-4 text-lg text-slate-400 prose">
      {body}
    </p>
  </div>
  <div>
    <h2 class="text-2xl font-bold tracking-tight text-slate-200">
      {employment}
    </h2>

    <div class="mb-12">
      <p class="mt-4 text-xl font-medium text-blue-500">
        Front end Developer - <span class="text-slate-500">
          Implemental Systems</span
        >
        <span class="text-slate-400 block text-sm"
          >Sep 2023 — Feb 2024 (6 months)
        </span>
      </p>
      <p class="mt-4 text-slate-400 text-lg prose font-medium">
        {Content.body}<a
          href="https://is-products.vercel.app/es/solutions/geobint/"
          class="text-blue-500"
          target="_blank"
        >
          link</a
        >.
      </p>
    </div>

    <div class="mb-12">
      <p class="mt-4 text-xl font-medium text-blue-500">
        Mobile Developer - <span class="text-slate-500">
          Universidad de Colima</span
        >
        <span class="text-slate-400 block text-sm"
          >Sep 2022 — Aug 2023 (12 months)
        </span>
      </p>
      <p class="mt-4 text-slate-400 text-lg prose font-medium">
        {Content.body2}
      </p>
    </div>

    <div class="mb-12">
      <p class="mt-4 text-xl font-medium text-blue-500">
        Intern - <span class="text-slate-500"> COSITEC</span>
        <span class="text-slate-400 block text-sm"
          >Feb 2022 — Jul 2022 (6 months)
        </span>
      </p>
      <p class="mt-4 text-slate-400 text-lg prose font-medium">
        {Content.body3}
      </p>
    </div>
  </div>
</div>
