---
import { PrimarySkills } from "./data/about";
import { getI18N } from "@i18n/index";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { education, languages, contact, skills, softSkills } = i18n.Left;
---

<div class="flex flex-col gap-12">
  <div>
    <h2 class="text-2xl font-bold tracking-tight text-slate-200">{contact}</h2>
    <dl class="mt-4 space-y-4 text-sm text-slate-400/80">
      <div class="flex gap-x-4 items-center text-slate-400/80 text-sm">
        <dt class="flex-none">
          <span class="sr-only">Website</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-world"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
            <path d="M3.6 9h16.8"></path>
            <path d="M3.6 15h16.8"></path>
            <path d="M11.5 3a17 17 0 0 0 0 18"></path>
            <path d="M12.5 3a17 17 0 0 1 0 18"></path>
          </svg>
        </dt>

        <dd>
          <a
            class="hover:text-slate-200"
            target="_blank"
            href="https://www.linkedin.com/in/leonel-elizarraraz/">LinkedIn</a
          >
        </dd>
      </div>
      <div class="flex gap-x-4 items-center text-slate-400/80 text-sm">
        <dt class="flex-none">
          <span class="sr-only">Telephone</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-device-mobile"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"
            ></path>
            <path d="M11 4h2"></path>
            <path d="M12 17v.01"></path>
          </svg>
        </dt>
        <dd>
          <a class="hover:text-slate-200" href="tel:+52 (312) 135-5589"
            >+52 (312) 135-5589</a
          >
        </dd>
      </div>
      <div class="flex gap-x-4 items-center text-slate-400/80 text-sm">
        <dt class="flex-none">
          <span class="sr-only">Email</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-mail"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
            ></path>
            <path d="M3 7l9 6l9 -6"></path>
          </svg>
        </dt>
        <dd>
          <a class="hover:text-slate-200" href="mailto:leonel.ayoel@gmail.com"
            >leonel.ayoel@gmail.com</a
          >
        </dd>
      </div>
    </dl>
  </div>
  <div>
    <h2 class="text-2xl font-bold tracking-tight text-slate-200">
      {education}
    </h2>
    <dl class="mt-4 space-y-4 text-sm text-slate-400/80">
      <div class="flex flex-col gap-2">
        <dt class="flex-col flex">
          <span class="block">Engeniero de Software</span>
          <span class="block">UDC</span>
        </dt>
        <dd class="text-blue-500 font-medium">2018 - 2023</dd>
      </div>
    </dl>
  </div>
  <div>
    <h2 class="text-2xl font-bold tracking-tight text-slate-200">
      {skills}
    </h2>
    <ul role="list" class="mt-4 space-y-2 text-sm text-slate-300/80">
      {
        PrimarySkills.map((ps) => (
          <li class=" hover:text-slate-100  transition-all ease-in">{ps}</li>
        ))
      }
    </ul>
  </div>
  <div>
    <h2 class="text-2xl font-bold tracking-tight text-slate-200">
      {softSkills.title}
    </h2>
    <ul role="list" class="mt-4 space-y-2 text-sm text-slate-300/80">
      {
        softSkills.body.map((sS) => (
          <li class=" hover:text-slate-100  transition-all ease-in">{sS}</li>
        ))
      }
    </ul>
  </div>
  <div>
    <h2 class="text-2xl font-bold tracking-tight text-slate-200">
      {languages.title}
    </h2>
    <ul role="list" class="mt-4 space-y-2 text-sm text-slate-300/80">
      <li>{languages.spanish}</li>
      <li>{languages.english}</li>
    </ul>
  </div>
</div>
